* {
  box-sizing: border-box;
}

body {
  margin: 0 20vw;
  font-family: Arial, sans-serif;
  background: #EAEAEA;
}


.panel h2 {
  margin: 0 0 8px 0;
  font-size: 13px;
}


.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
}

.table th,
.table td {
  border-bottom: 1px solid #eee;
  padding: 6px;
  text-align: left;
}


@media (max-width: 650px){
 body{
  margin: 0 0vw;
 }


}



